#video-timer-overlay {
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 57, 127, 0.9);
    font-size: 20px;
}

#video-timer-indicator {
    z-index: 10001;
    width: 330px;
    height: 60px;
    position: fixed;
    right: 16px;
    bottom: 6px;
    margin: 20px auto;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 57, 127, 0.75);
    font-size: 20px;
}

#video-timer-dialog {
    z-index: 10002;
    width: 520px;
    height: 200px;
    padding-bottom: 48px;
    border: 3px solid #fff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 57, 127);
    font-size: 20px;
}

.video-timer-button {
    width: 120px;
    height: 48px;
    border: 3px solid #fff;
    position: absolute;
    bottom: 18px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 57, 127);
    font-size: 20px;
    cursor: pointer;
}

#video-timer-ok-button {
    left: 120px;
}

#video-timer-cancel-button {
    right: 120px;
}

#video-timer-coffee-icon {
    font-size: 30px;
    cursor: pointer;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}